@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #48dbfb;
  display: grid;
  place-items: center;
  height: 100vh;
  text-align: center;
  font-family: 'Pangolin', cursive;
  color: hsl(198, 1%, 29%);
}
.app{
  width: 120vh;
  height: auto;
  min-height: 60vh;
  height: auto;
  background: #f1f5f8;
  background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
}

h1{
  margin-bottom: 1rem;
  font-size: 60px;
  transform: rotate(1deg);
  padding: 0.2rem 1.2rem;
  border-radius: 20% 15% 20% 15%/15% 20% 25% 20%;
  background-color: #2e86de;
  color: white;
}

button {
  padding: 10px 30px;
  border: 3px #0abde3 solid;
  font-family: 'Pangolin', cursive;
  text-decoration: none;
  border-radius: 30px;
  background-color: white;
  font-weight: bolder;
  font-size: 16px;
  color: hsl(198, 1%, 29%);
}

button:hover{
  background-color: #0abde3;
}

.quote_box{
  height: 40vh;
  margin: 10px;
  text-align: center;
  font-family: 'Pangolin', cursive;
  color: #494a4b;
  font-weight: bold;
  font-size: 40px;
}